//mainContainer           //breakpoints
$container: 1410px;       //xl: 1500px
$container-lg: 1100px;    //lg: 1140px,
$container-md: 840px;     //md: 880px,
$container-sm: 540px;     //sm: 576px,
$container-xs: 320px;     //xs: 0,

//mainColor
$defaultColor: #333;
$grayColor: #828282;
$lightGrayColor: #BDBDBD;
$lightHoverColor: #09abe4;
$darkHoverColor: #282696;

