<footer class="footer">
    <div class="footer__menu">
        <div class="footer__logo"><img class="footer__logoImg" src="../images/logo.svg" /></div>
        <ul class="menu menu_width90">
            <li class="menu__item"><a class="menu__link" href="#">каталог</a></li>
            <li class="menu__item"><a class="menu__link" href="#">о компании</a></li>
            <li class="menu__item"><a class="menu__link" href="#">омс</a></li>
            <li class="menu__item"><a class="menu__link" href="#">акции</a></li>
            <li class="menu__item"><a class="menu__link" href="#">розничная сеть</a></li>
            <li class="menu__item"><a class="menu__link" href="#">партнеры</a></li>
            <li class="menu__item"><a class="menu__link" href="#">подбор очков</a></li>
        </ul>
    </div>
</footer>