<header class="header">
    <div class="header__lineOne">
        <div class="header__left">
            <ul class="line line_smFSize">
                <li class="line__item"><span class="line__imgGlasses"></span><a class="line__link line__link_colorGray" href="#">Версия для слабовидящих</a><span class="line__seperator"></span></li>
                <li class="line__item"> <span class="line__imgBars"></span><a class="line__link line__link_colorGray" href="#">Сравнение товаров</a><span class="line__seperator"></span></li>
                <li class="line__item"><a class="line__link line__link_colorGray line__link_inst" href="#"></a><a class="line__link line__link_colorGray line__link_twit" href="#"></a><a class="line__link line__link_colorGray line__link_vk" href="#"></a></li>
            </ul>
        </div>
        <div class="header__right">
            <ul class="line line_smFSize">
                <li class="line__item"><a class="line__link_colorGray" href="#">Оплата</a><span class="line__seperator"></span></li>
                <li class="line__item"> <a class="line__link_colorGray" href="#">Доставка</a><span class="line__seperator"></span></li>
                <li class="line__item"> <a class="line__link_colorGray" href="#">Возврат и обмен</a></li>
            </ul>
        </div>
    </div>
    <div class="header__lineTwo">
        <div class="lineTwo">
            <div class="lineTwo__burger"></div>
            <div class="lineTwo__logo"><a class="lineTwo__link" href="#"><img class="lineTwo__logoImg" src="images/logo.svg" alt="logo" /></a></div>
            <div class="lineTwo__phone">
                <p class="lineTwo__number">(8184) 52-96-33</p>
            </div>
            <div class="lineTwo__search">
                <form class="form-search" action="#"><input class="form-search__text" type="text" placeholder="Искать" name="search" /><button class="form-search__searchBtn" type="submit"></button></form>
            </div>
            <div class="lineTwo__person">
                <div class="lineTwo__sign-in"><a class="lineTwo__persLink lineTwo__persLink_defColor" href="#"><span class="lineTwo__imgPers"></span><span class="lineTwo__textSignIn">Вход/Регистрация</span></a></div>
                <div class="lineTwo__basket"><a class="lineTwo__persLink lineTwo__persLink_defColor" href="#"><span class="lineTwo__imgBasket"></span><span class="lineTwo__textBasket">Корзина</span><span class="counter"></span></a></div>
            </div>
        </div>
    </div>
    <div class="header__menu">
        <ul class="menu menu_invis menu_height">
            <li class="menu__item"><a class="menu__link" href="#"> каталог</a></li>
            <li class="menu__item"><a class="menu__link" href="#"> о компании</a></li>
            <li class="menu__item"><a class="menu__link" href="#"> ОМС</a></li>
            <li class="menu__item"><a class="menu__link" href="#"> акции</a></li>
            <li class="menu__item"><a class="menu__link" href="#"> розничная сеть</a></li>
            <li class="menu__item"><a class="menu__link" href="#"> партнеры</a></li>
            <li class="menu__item"><a class="menu__link" href="#"> контакты</a></li>
            <li class="menu__item"><a class="menu__link" href="#"> подбор очков</a></li>
        </ul>
    </div>
</header>