<main class="main">
    <!-- Swiper-->
    <div class="swiper-container">
        <div class="swiper-wrapper popularGoods">
            <div class="swiper-slide popularGoods__item">
                <div class="popularGoods__upperSide"><span class="popularGoods__new">новинка</span><img class="popularGoods__img" src="./images/slider/glasses1.png" alt="item" /></div>
                <div class="popularGoods__downSide">
                    <h4 class="popularGoods__title">DAVIDOFF Urban Coolness Sunglasses</h4>
                    <div class="popularGoods__wrapperPrice">
                        <div class="popularGoods__price"><span class="popularGoods__nowPrice">14500 руб.</span><span class="popularGoods__normalPrice">14500 руб.</span></div>
                        <div class="popularGoods__toBasket"><span class="popularGoods__compareBtn"></span><button class="popularGoods__toBasketBtn">в корзину</button></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide popularGoods__item">
                <div class="popularGoods__upperSide"><img class="popularGoods__img" src="./images/slider/lenses.png" alt="item" /></div>
                <div class="popularGoods__downSide">
                    <h4 class="popularGoods__title">ACUVUE OASIS with Hydralux</h4>
                    <div class="popularGoods__wrapperPrice">
                        <div class="popularGoods__price"><span class="popularGoods__nowPrice">14500 руб.</span></div>
                        <div class="popularGoods__toBasket"><span class="popularGoods__compareBtn"></span><button class="popularGoods__toBasketBtn">в корзину</button></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide popularGoods__item">
                <div class="popularGoods__upperSide"><span class="popularGoods__new">новинка</span><img class="popularGoods__img" src="./images/slider/glasses2.png" alt="item" /></div>
                <div class="popularGoods__downSide">
                    <h4 class="popularGoods__title">BULGARI NV-2345 Sunglasses </h4>
                    <div class="popularGoods__wrapperPrice">
                        <div class="popularGoods__price"><span class="popularGoods__nowPrice">14500 руб.</span></div>
                        <div class="popularGoods__toBasket"><span class="popularGoods__compareBtn"></span><button class="popularGoods__toBasketBtn">в корзину</button></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide popularGoods__item">
                <div class="popularGoods__upperSide"><img class="popularGoods__img" src="./images/slider/glasses3.png" alt="item" /></div>
                <div class="popularGoods__downSide">
                    <h4 class="popularGoods__title">DAVIDOFF Urban Coolness Sunglasses </h4>
                    <div class="popularGoods__wrapperPrice">
                        <div class="popularGoods__price"><span class="popularGoods__nowPrice">14500 руб.</span><span class="popularGoods__normalPrice">14500 руб.</span></div>
                        <div class="popularGoods__toBasket"><span class="popularGoods__compareBtn"></span><button class="popularGoods__toBasketBtn">в корзину</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">&lsaquo;</div>
        <div class="swiper-button-next">&rsaquo;</div>
    </div>
</main>