doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title testTask
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='images/icomoon/ic-test.css')
    body
        include components/header.pug
        include components/main.pug
        include components/footer.pug        

        script(src="./js/common.js")
        script(src="./js/swiper.js")
