header.header
    .header__lineOne
        .header__left
            ul.line.line_smFSize
                li.line__item
                    span.line__imgGlasses
                    a(href='#').line__link.line__link_colorGray Версия для слабовидящих
                    span.line__seperator
                li.line__item 
                    span.line__imgBars
                    a(href='#').line__link.line__link_colorGray Сравнение товаров
                    span.line__seperator
                li.line__item
                    a(href='#').line__link.line__link_colorGray.line__link_inst
                    a(href='#').line__link.line__link_colorGray.line__link_twit
                    a(href='#').line__link.line__link_colorGray.line__link_vk
        .header__right
            ul.line.line_smFSize
                li.line__item
                    a(href='#').line__link_colorGray Оплата
                    span.line__seperator
                li.line__item    
                    a(href='#').line__link_colorGray Доставка
                    span.line__seperator
                li.line__item    
                    a(href='#').line__link_colorGray Возврат и обмен
    .header__lineTwo
        div.lineTwo
            div.lineTwo__burger
            div.lineTwo__logo
                a(href='#').lineTwo__link
                    img(src='images/logo.svg', alt='logo').lineTwo__logoImg
            div.lineTwo__phone
                p.lineTwo__number (8184) 52-96-33
            div.lineTwo__search
                form(action='#').form-search
                    input(type='text', placeholder='Искать' name='search').form-search__text
                    button(type='submit').form-search__searchBtn
            div.lineTwo__person
                div.lineTwo__sign-in
                    a(href='#').lineTwo__persLink.lineTwo__persLink_defColor
                        span.lineTwo__imgPers
                        span.lineTwo__textSignIn Вход/Регистрация
                div.lineTwo__basket
                    a(href='#').lineTwo__persLink.lineTwo__persLink_defColor
                        span.lineTwo__imgBasket
                        span.lineTwo__textBasket Корзина
                        span.counter
    .header__menu
        ul.menu.menu_invis.menu_height
            li.menu__item
                a(href="#").menu__link  каталог
            li.menu__item
                a(href="#").menu__link  о компании
            li.menu__item
                a(href="#").menu__link  ОМС
            li.menu__item
                a(href="#").menu__link  акции
            li.menu__item
                a(href="#").menu__link  розничная сеть
            li.menu__item
                a(href="#").menu__link  партнеры
            li.menu__item
                a(href="#").menu__link  контакты
            li.menu__item
                a(href="#").menu__link  подбор очков
