main.main
    // Swiper
    .swiper-container
        .swiper-wrapper.popularGoods
            .swiper-slide.popularGoods__item
                .popularGoods__upperSide
                    span.popularGoods__new новинка
                    img(src='./images/slider/glasses1.png', alt='item').popularGoods__img
                .popularGoods__downSide            
                    h4.popularGoods__title DAVIDOFF Urban Coolness Sunglasses
                    .popularGoods__wrapperPrice
                        .popularGoods__price
                            span.popularGoods__nowPrice 14500 руб.
                            span.popularGoods__normalPrice 14500 руб.
                        .popularGoods__toBasket
                            span.popularGoods__compareBtn
                            button.popularGoods__toBasketBtn в корзину
            .swiper-slide.popularGoods__item
                .popularGoods__upperSide
                    img(src='./images/slider/lenses.png', alt='item').popularGoods__img
                .popularGoods__downSide            
                    h4.popularGoods__title ACUVUE OASIS with Hydralux
                    .popularGoods__wrapperPrice
                        .popularGoods__price
                            span.popularGoods__nowPrice 14500 руб.
                        .popularGoods__toBasket
                            span.popularGoods__compareBtn
                            button.popularGoods__toBasketBtn в корзину
            .swiper-slide.popularGoods__item
                .popularGoods__upperSide
                    span.popularGoods__new новинка
                    img(src='./images/slider/glasses2.png', alt='item').popularGoods__img
                .popularGoods__downSide            
                    h4.popularGoods__title BULGARI NV-2345 Sunglasses  
                    .popularGoods__wrapperPrice
                        .popularGoods__price
                            span.popularGoods__nowPrice 14500 руб.
                        .popularGoods__toBasket
                            span.popularGoods__compareBtn
                            button.popularGoods__toBasketBtn в корзину
            .swiper-slide.popularGoods__item
                .popularGoods__upperSide
                    img(src='./images/slider/glasses3.png', alt='item').popularGoods__img
                .popularGoods__downSide            
                    h4.popularGoods__title DAVIDOFF Urban Coolness Sunglasses 
                    .popularGoods__wrapperPrice
                        .popularGoods__price
                            span.popularGoods__nowPrice 14500 руб.
                            span.popularGoods__normalPrice 14500 руб.
                        .popularGoods__toBasket
                            span.popularGoods__compareBtn
                            button.popularGoods__toBasketBtn в корзину
        .swiper-button-prev &lsaquo;
        .swiper-button-next &rsaquo;

